.service {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  /* border: 2px dotted red;
  min-height: 200px; */
}

.service img {
  margin-inline: auto;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .service {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .service p {
    max-width: 38ch;
    margin-inline: auto;
  }
}
